body 
{
	margin:0;
	font-family: "Tahoma";
	float: left;
	width:100%;	
}
.button
{
	float:right;
	background-color: #b30000;
	border: none;
  	color: white;
    padding: 15px 15px;
    height: 7%;
    text-decoration:none;
}
/*Header*/
.header 
{
	background-image: url(img/index/pig.jpg);
}
}
.header img
{
	width:100%;
	float: left;
}
.header .logo
{
	width:10%;
}
/*Phần footer */
.footer 
{
	background-color: #990000;
	height: 20%;
	width: 100%;
	float: left;
	margin-top:5px;
}
.footer div
{
	width:27%;
	margin:2% 0 0 5%;
	float:left;
}
.footer div p
{
	color:white;
	font-weight: bolder;
}
/*Menu */
.menu
{
	float: left;
	background-color: #b30000;
	width:100%;
	height: 5%;
	position: sticky;
    top: 0px;
    z-index: 1;
}
.menu ul li
{
	list-style-type:none;
	padding-left: 10%;
	display: inline-table;
	text-align: center;
	position:relative;

}
.menu a
{
	text-decoration: none;
	color:white;	
}
.menu a:hover
{
	color:yellow;	
}
.menu .active
{ 	
	text-decoration: none;
	color:yellow;				
}
.menu ul li .sub-sanpham
{
	display: none;
	text-align: left;
	width: 100%;
	padding: 10% 0 0 0;
	background:#b30000; 
	position: absolute;
}
.menu ul li .sub-sanpham p
{
	border-bottom: 1px solid #e60000;
}
.menu ul li:hover .sub-sanpham
{
	display: block;
}
.img
{
	width: 100%;
	float: left;

}
/*Trang chủ */
/*Trang chủ - Phần giới thiệu */
.gioithieu
{
	float:left;
	background-color: white;	
	width: 100%;
	height: 55%;
}
.gioithieu img
{	
	float:left;
	width:35%;
	margin:2% 5% 0 5%;
}
.gioithieu .noidung
{
	float:right;
	width:45%;
	margin:2% 8% 0 0;
	
}
.gioithieu .noidung h3 
{
	color: #b30000;
	font-weight: 900;
	font-size: 20px;
}
.gioithieu .noidung h4
{
	font-size: 14px;
	font-weight: 100;
	line-height: 1.5;
}
/*Trang chủ - Phần sản phẩm */
.sanpham
{
	background-color: white;	
	float:left;
	margin-top:5px;
	width:100%;
	height: 130%;
	border-top: 10px solid #f5f5f5;
}
.sanpham h3{color:#b30000;}
.sanpham div
{
	border: 1px solid #a6a6a6;
	width:25%;
	height:53%;
	margin: 2% 2% 3% 4%;
	float: left;	
	transition: transform 0.5s;
}
.sanpham div:hover
{
	transform: scale(1.1,1.1 );
}
.sanpham div img
{
	width:100%;
}
.sanpham div p,h3,h4
{
	margin:15px 0 0 20px;
}
.sanpham div p
{
	font-size: 18px;
	font-weight: bold;
}
.sanpham div h4
{
	float-left;	
	color:red;
}
.sanpham .mua
{	
	float:right;
	margin-right: 10px;
}
.sanpham div a img
{
	width:20px;	
}

/*Trang giới thiệu*/
.gthieu
{
	float:left;
	width:92%;
	margin: 3% 4% 0 4%;	
}
.gthieu .tieude
{
	border-bottom: 2px solid;
	font-size: 25px;
	font-weight: bolder;
	color:#990000;
}
.gthieu img
{
  display: block;
  margin-left:25%;
  width: 50%;
}
.gthieu p
{
	font-size: 14px;
	font-weight: 100;
	line-height: 1.5;
}

/*Trang chia sẻ*/
.chiase
{
	float:left;
	width:92%;
	margin: 3% 4% 0 4%;	
}
.chiase .tieude
{
	border-bottom: 2px solid;
	font-size: 25px;
	font-weight: bolder;
	color:#990000;
}
.chiase div
{
	width:25%;	
	float: left;
	margin:0 3% 0 3%;
}
.chiase div img
{
	width:100%;

}
.chiase .date
{
	width: 20%;
	margin-top:5%;
}
.chiase div .day
{
	float:left;
	background-color:#a6a6a6;
	color: #e62e00;
	font-weight: bolder;
	text-align: center;
	width: 100%;
	font-size: 13px;
}
.chiase div .month
{
	float:left;	
	background-color:#e62e00;
	color: white;
	font-weight: bolder;
	text-align: center;
	width: 100%;
	font-size: 13px;
}
.chiase h3
{
	font-size: 18px;
}
.chiase h4
{	
	font-size: 14px;
	font-weight: 100;
	line-height: 1.5;
}
