body 
{
	margin:0;
	font-family: "Roboto",arial;
	float: left;
	width:100%;	
}
.button
{
	float:right;
	background-color: #b30000;
	border: none;
  	color: white;
    padding: 15px;
    text-decoration:none;
    font-weight: bold;
}
.button:hover
{
	border:3px solid #b30000;
	background-color: white;
	color:#b30000;	
    padding: 12px;
}
/*Header*/
.header
{
	width:100%;
}
/*Phần footer */
.footer 
{
	background-color: #990000;
	height: 20%;
	width: 100%;
	float: left;
	margin-top:5px;
}
.footer div
{
	width:27%;
	margin:2% 0 0 5%;
	float:left;
}
.footer div p
{
	color:white;
	font-weight: bolder;
}
/*Menu */
.menu
{
	float: left;
	background-color: #b30000;
	width:100%;
	height: 5%;
	position: sticky;
    top: 0px;
    z-index: 1;
}
.menu ul li
{
	list-style-type:none;
	padding-left: 10%;
	display: inline-table;
	text-align: center;
	position:relative;
}
.menu a
{
	text-decoration: none;
	color:white;	
	font-weight: bolder;
}
.menu a:hover
{
	color:#ffcc00;	
}
.menu .active
{ 	
	text-decoration: none;
	color:#ffcc00;				
}
.menu ul li .sub-sanpham
{
	display: none;
	text-align: left;
	width: 100%;
	padding: 10% 0 0 0;
	background:#b30000; 
	position: absolute;
}
.menu ul li .sub-sanpham p
{
	border-bottom: 1px solid #ff1a1a;
}
.menu ul li:hover .sub-sanpham
{
	display: block;
}
.img
{
	width: 100%;
	float: left;

}
/*Trang chủ */
/*Trang chủ - Phần giới thiệu */
.gioithieu
{
	float:left;
	background-color: white;	
	width: 100%;
	height: 55%;
}
.gioithieu img
{	
	float:left;
	width:35%;
	margin:3% 0 0 5%;
	opacity: 0.9;
	transition: 0.5s; 
}
.gioithieu img:hover
{
	opacity:1;
	transform: scale(1.05,1.05);
}

.gioithieu .noidung
{
	float:right;
	width:50%;
	margin:2% 8% 0 0;
	
}
.gioithieu .noidung h3 
{
	color: #b30000;
	font-size: 20px;
	font-family: 'Paytone One', sans-serif;
}
.gioithieu .noidung h4
{
	font-size: 14px;
	font-weight: 100;
	line-height: 1.5;
}
/*Trang chủ - Phần sản phẩm */
.sanpham
{
	background-color: white;	
	float:left;	
	width:100%;
	height: 130%;
}
.sanpham h3
{
	margin: 3% 0 0 5%;
	border-bottom: 2px solid;
	font-size: 25px;
	color:#990000;
	font-family:'Paytone One', sans-serif;
	padding-bottom: 1%;
}
.sanpham div
{
	border: 1px solid #a6a6a6;
	width:25%;
	height:53%;
	margin: 2% 2% 3% 4%;
	float: left;	
	transition: transform 0.5s;
}

.sanpham div:hover
{
	transform: scale(1.1,1.1);
}
.sanpham input
{
	float:right;
	margin-right: 10%; 
}
.sanpham div:hover img {
  opacity: 0.7;
}
.sanpham div:hover .middle {
  opacity: 0.7;
}
.sanpham div img
{
	opacity: 1;
	width: 100%;
	height: auto;
	transition: 0.5s;	
}
.sanpham div .middle {
  transition: 0.25s;
  opacity: 0;
  text-align: center;
  background-color: black;
  color: white;
  margin:-50% 0 0 25%;
  width:50%;
}
.sanpham .hidden
{
	border:solid;	
	color:white;
	float: left;
	font-size: 15px;
	text-decoration: none;
	height:30%;
	width:70%;
	margin: 5% 0 5% 15%;	
}
.sanpham .hidden:hover
{
	color:red;	
}
.sanpham div p,h3,h4
{
	margin:15px 0 0 20px;
}
.sanpham div p
{
	font-size: 18px;
	font-weight: bold;
}
.sanpham div h4
{
	float-left;	
	color:red;
}
.sanpham .mua
{	
	float:right;
	margin-right: 10px;
}
.sanpham div a img
{
	width:20px;	
}
.sanpham input
{
	padding: 6px;
	font-size: 17px;
}
/*Trang giới thiệu*/
.gthieu
{
	float:left;
	width:92%;
	margin: 3% 4% 0 4%;	
}
.gthieu .tieude
{
	border-bottom: 2px solid;
	font-size: 25px;
	font-weight: bolder;
	color:#990000;
	font-family:'Paytone One', sans-serif;
}
.gthieu .hinhanh
{
	 width:36%;
	 float:left;
	margin-left: 4%;
}
.gthieu .hinhanh img
{
	width: 100%;
	float: left;
	margin-top:10%;
	transition: 0.5s;
}
.gthieu .hinhanh img:hover
{
	transform: scale(1.1,1.1);
}
.gthieu p
{
	font-size: 14px;
	font-weight: 100;
	line-height: 1.5;
}
.gthieu .noidung
{
	width:60%;
	float:left;
	text-align: justify;
}
/*Trang chia sẻ*/
.chiase
{
	float:left;
	width:92%;
	margin: 3% 4% 0 4%;	
}
.chiase a
{
	text-decoration: none;
	color:black;	
}
.chiase .tieude
{
	border-bottom: 2px solid;
	font-size: 25px;
	font-weight: bolder;
	color:#990000;
}
.chiase div
{
	width:25%;	
	float: left;
	margin:0 3% 0 3%;	
}
.chiase .date
{
	width: 20%;
	margin-top:5%;
}
.chiase div .day
{
	float:left;
	background-color:#a6a6a6;
	color: #e62e00;
	font-weight: bolder;
	text-align: center;
	width: 100%;
	font-size: 13px;
}
.chiase div .month
{
	float:left;	
	background-color:#e62e00;
	color: white;
	font-weight: bolder;
	text-align: center;
	width: 100%;
	font-size: 13px;
}
.chiase h3
{
	font-size: 18px;
	float:left;
}
.chiase h4
{	
	font-size: 14px;
	font-weight: 100;
	line-height: 1.5;	
	float:left;
}
.chiase div img
{
	width:100%;	
	transition: 0.5s transform;
}
.chiase div:hover img
{
	transform:scale(1.1,1.1);
}
/*Trang lien he*/
.lienhe .info
{
	width: 40%;
	margin-left:5%;	
	margin-top: 5%;
	float: left;
}
.lienhe .form
{
	width: 45%;
	float: left;
	margin-left: 5%;
	margin-top: 5%;
}
.lienhe .info ul
{
	border: 1px black solid;
	padding: 5%;

}
.lienhe .info ul li
{
	list-style-type:none;
	font-family: "Montserrat",arial;
	font-size: 20px;
	line-height: 2;
	border-bottom: 1px black solid;
	padding-top: 2%
}